<?xml version="1.0"?>
<packages>
    <package id="GoogleChrome" />
    <package id="Firefox" />
    <package id="Opera" />
    <package id="git" />
    <package id="dropbox" />
    <package id="nodejs.install" />
    <package id="ruby" />
    <package id="winmerge" />
    <package id="Desktops" />
    <package id="7zip.install" />
    <package id="Atom" />
    <package id="ganttproject" />
    <package id="Gow" />
    <package id="putty" />
    <package id="skitch" />
    <package id="redis-64" />
    <package id="redis-desktop-manager" />
    <package id="vagrant" />
    <package id="virtualbox" />
    <package id="mysql.workbench" />
</packages>
